@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color Variables */
    --primary-color: #2B7784;
    --secondary-color: #;
    --background-color: #fff;
    --text-color-1: #171717; 
    /* --text-color-2: #;  */


    /* Typography */
    --font-primary: 'poppins', sans-serif;
    --font-secondary: 'roboto', serif;
    --font-size-base: 16px;
    --font-size-lg: 20px;
    --font-size-sm: 14px;
    --font-size-nav: 18px;
    --hero-font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: var(--font-secondary);
}

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    box-shadow: 0px 4px 12px #00000014;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    
}

.header img {
    width: 100px;
    margin-left: 100px;
    margin-right: 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.navbar a {
    text-decoration: none;
    font-size: var(--font-size-nav);
    color: var(--text-color-1);
    padding: 6px 0px; 
    cursor: pointer;
}

.navbar a.active {
    color: var(--primary-color);
    font-weight: 500;
}

.navbar a:hover {
    color: var(--primary-color);
}

.search-container {
    position: relative;
    width: 200px;
    padding-right: 15px;
  }
  
  .search-input {
    width: 100%;
    border: none;
    padding: 15px 0px 15px 15px;
    background-color: #00000010;
    border-radius: 99px;
    box-shadow: 0px 2px 8px #00000012;
    color: rgb(105, 105, 105);
    font-weight: 300;
    font-size: var(--font-size-base);
    letter-spacing: 1px;
    outline: none;
  }
  
  .search-container i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }

.navbar .search:hover {
    color: rgb(139, 136, 136);;
}

.profile,
.cart {
    display: inline-flex; 
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 100px;
    margin-left: 150px;
}


.profile i:hover,
.cart i:hover {
    background-color: #1a4f59;
}

.profile i,
.cart i {
    font-size: 24px;
    border-radius: 50px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 8px;
    margin: 0;
}

.cart {
    margin-right: 100px; 
    margin-left: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0px 0;
    gap: 50px;
    background: linear-gradient(to left, #FFFFFF, #DFEBED);
  }
  
  .main-content {
    width: 618px;
  }
  
  .main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: var(--hero-font-size);
    justify-content: start;
    margin-bottom: 20px;
    line-height: 50px;
    margin-left: 100px;
  }

  .title_1 {
    color: var(--text-color-1);
    margin-right: 15px;
    margin-bottom: -10px;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
  }

  .title_2 {
    color: var(--primary-color);
    margin-bottom: -20px;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-description {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    color: #17171798;
    line-height: 28px;
    letter-spacing: 0.3px;
    margin: 50px 0px 73px 100px;
    width: 584px;
    height: 69px;
    top: 453px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: var(--font-size-base);
  }
  
  .main-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-right: 70px;
  }
  
.shop_now {
    margin-left: 100px;
    padding: 18px 35px 18px 35px;
    color: #fff;
    background-color: var(--primary-color);
    gap: 10px;
    border-radius: 50px;
    width: 192px;
    box-shadow: 4px 4px 10px #00000020;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

.shop_now:hover {
    background-color: #1a4f59;
}

.dot-slider {
    display: flex;
    gap: 7px;
    align-items: center;
    margin: 50px 0px 0px 100px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #287480; /* teal color */
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .dot.active {
    width: 28px;
    border-radius: 999px;
  }

  .partner {
    background-color: #171717;
    height: 127px;
  }

  .partner_content {
    width: 1210px;
    height: 81px;
    gap: 70px;
    margin-left: 115px;
    padding: 23px;
  }

  .kikoromco {
    width: 60px;
    height: 44.72px;
    margin-right: 70px;
  }

  .deola {
    width: 90px;
    height: 44.8px;
    margin-right: 70px;
  }

  .vlisco {
    width: 110px;
    height: 71px;
    margin-right: 70px;
  }

  .sabyasachi {
    width: 140px;
    height: 42.09px;
    margin-right: 70px;
  }

  .label {
    width: 70px;
    height: 33.77px;
    margin-right: 70px;
  }

  .zimmermann {
    width: 130px;
    height: 31.18px;
    margin-right: 70px;
  }

  .fabindia {
    width: 110px;
    height: 41.83px;
  }
  
.featured {
    margin-top: 100px;
    text-align: left;
}

.featured h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -2%;
    text-align: center;
}

.featured_sub {
    height: 616px;
    top: 1262px;
    margin-left: 100px;
    font-family: 'Robot', sans-serif;
}

.feature.active {
    border-bottom: 4px solid #000000;
    padding: 10px 100px 10px 120px;
    border-radius: 4px;
    border-color: #171717;
    border-top-right-radius: 40px;
    text-decoration: none;
}

/* .feature.active span{
    border-bottom: 4px solid #000000;
    padding-right: 200px;
} */